<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <test thread-count="5" name="Test">
    <classes>
      <class name="LetShop.Scripts.Product_Order_Cancel">
      <methods>
            <include name="TC001_Product_Order"></include>  
             <include name="TC002_Cancel_Order"></include>            
        </methods>
      </class>
    </classes>
  </test> 
  
   <test thread-count="5" name="Test1">
    <classes>
      <class name="LetShop.Scripts.Product_Order_Cancel">
      <methods>
            <include name="TC003_Validate_OrderId"></include>             
        </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
